:root {
    --primary-color: #242424;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
    margin: 0 auto;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

header,
main,
footer {
    width: 960px;
    margin: 0 auto;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 30px;
    left: 10px;
    right: 10px;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    background-color: rgba(241, 201, 107, 0.75);
    padding: 20px;

}

.hero article img {
    width: 150px;
    float: right;
}

.hero article p {
    font-size: 18px;
    flex: 1;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.socialmedia a {
    text-decoration: none;
    width: 48px;
    height: 48px;

}