:root {
    --primary-color: #242424;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #f1f1f1;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 10px;

}

header img {
    width: 120px;
    height: auto;
    margin-left: 20px;
}

header,
main,
footer {
    width: 980px;
    margin: 0 auto;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 0;
    width: 100%;
    padding: 10px 20px;
}

header nav a {
    color: var(--accent2-color);
    text-decoration: none;
    background-color: #69655a;
    padding: 10px 20px;
    border: 1px solid white;
    width: 20%;
    font-weight: bold;
    text-align: center;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

h2 {
    text-align: center;
    color: #403d58;
    margin-top: 0.5px;
}

.hero article {
    position: absolute;
    bottom: 30px;
    left: 10px;
    right: 10px;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    background-color: var(--secondary-color);
    padding: 20px;
    opacity: 0.9;

}

.hero article img {
    width: 150px;
    float: right;
    border: 1px solid #000;
    box-shadow: 0 0 15px #777;
}

.hero article p {
    font-size: 18px;
    flex: 1;
}

.history {
    text-align: center;
    margin: 20px auto;
    max-width: 1000px;
    background-color: #403d58;
    padding: 10px;
}

.history h2 {
    color: #fff;
    margin-top: 5px;
}

.history-grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.history-grid img {
    display: block;
    width: 250px;
    height: auto;
    margin: 0 auto;
}

.history-grid p {
    color: #ffffff;
}

.adventure {
    text-align: center;
    margin: 20px auto;
    max-width: 1200px;
}

.adventure-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 7px;
    margin-top: 20px;
    align-items: start;
}

.adventure-grid figure {
    margin: 0;
}

.adventure-grid img {
    width: 185px;
    height: auto;
    object-fit: cover;
    background: #e5e5e5;
}

figcaption {
    margin-top: 4px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #000;
}

footer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: #000;
    padding: 15px 20px;
}

footer p {
    text-align: center;
    margin: 0;
    font-size: 17px;
    color: #fff;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.socialmedia img {
    width: 48px;
    height: 48px;

}

/* css for the contact page */

.container {
    max-width: 900px;
    margin: auto;
    margin-top: 40px;
    text-align: center;

}

.container h1 {
    color: #111111;
}

.contact-info {
    margin-bottom: 30px;
    line-height: 1.3;
    color: #000;
}

.contact-wrapper {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    justify-content: center;
}

.map-box {
    width: 45%;
}

.map-placeholder {
    background: #e0e0e0;
    margin-top: 80px;
    width: 100%;
    height: 350px;
    color: #555;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.iframe {
    border: 0;

}

.contact-form {
    width: 600px;
    text-align: left;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"],
input [type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 14px;
}

input[type="checkbox"] {
    margin-right: 6px;
}

.contact-form fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

textarea {
    height: 120px;
    resize: none;
}

.radio-group label,
.checkbox {
    display: block;
    margin-bottom: 20px;
    font-weight: normal;
}

button {
    width: 100%;
    padding: 12px;
    background: #15324b;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

button:hover {
    background: #ccc;
}

.team-section {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 30px;
    width: 980px;
    border: 2px solid #ccc;
    text-align: center;
}

.team-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}

.profile-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.profile-card {
    text-align: center;
}

.profile-img img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.profile-img::after {
    content: "";
    width: 25px;
    height: 25px;
    background-color: gray;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
}

.profile-card p {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}

/*****css for Home Page begins *****/

.hero-container {
    position: relative;
    max-width: 980px;
    margin: 0 auto;
}

.hero-container .content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;

}

.hero-container img {
    width: 100%;
    height: auto;
}

.hero-container .content h1,
p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* CTA Section */
.cta,
.btn {
    text-align: center;
    padding: 50px 20px;
    background: #ffffff;
    color: #ffffff;
    border: 2px solid #333;
}

.btn,
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 14px 30px;
    background: var(--accent1-color);
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.cta .btn:hover {
    background: #155d72;
}

.hero-container,
.content p {
    color: #ffffff;
}

.grid-item,
h3,
p {
    color: #000000;
    text-align: center;
}

/* Trip Grid Section */
.trip-section {
    padding: 40px 20px;
}

.trip-card h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.trip-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin-top: 25px;
}

.trip-card {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 8px #555;
}

.trip-card img {
    width: 100%;
}

.trip-card .btn-small {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 18px;
    background: var(--accent1-color);
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
}

.trip-card .btn-small:hover {
    background: var(--accent1-color);
}

/* Trip Table Section */
.trip-table-section {
    padding: 40px 20px;
}

.trip-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.trip-table th,
.trip-table td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
}

.trip-table th {
    background: var(--primary-color);
    color: #fff;
}

/* GRID SECTION */
.grid-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.grid-item img {
    width: 100%;
}

.grid-item {
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 3px 6px #555;
}

/* NEWSLETTER SECTION */
.newsletter {
    background: #fff;
    padding: 3rem 1rem;
    text-align: center;
    border: 1px solid #777;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 400px;
    margin: auto;
}

.newsletter-form input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.newsletter-form button {
    padding: 0.8rem 1.5rem;
    background: var(--accent1-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter-form button:hover {
    background: var(--accent1-color)
}