:root {
    --primary-color: #242424;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #f1f1f1;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 10px;

}

header img {
    width: 120;
    height: auto;
    margin-left: 20px;
}

header,
main,
footer {
    width: 960px;
    margin: 0 auto;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 0;
    width: 100%;
    padding: 10px 20px;
}

header nav a {
    color: var(--accent2-color);
    text-decoration: none;
    background-color: #69655a;
    padding: 10px 20px;
    border: 1px solid white;
    width: 20%;
    font-weight: bold;
    text-align: center;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

h2 {
    text-align: center;
    color: #403d58;
    margin-top: 0.5px;
}

.hero article {
    position: absolute;
    bottom: 30px;
    left: 10px;
    right: 10px;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    background-color: var(--secondary-color);
    padding: 20px;
    opacity: 0.9;

}

.hero article img {
    width: 150px;
    float: right;
    border: 1px solid #000;
    box-shadow: 0 0 15px #777;
}

.hero article p {
    font-size: 18px;
    flex: 1;
}

.history {
    text-align: center;
    margin: 20px auto;
    max-width: 1000px;
    background-color: #403d58;
    color: #fff;
    padding: 10px;
}

.history h2 {
    color: #fff;
    margin-top: 5px;
}

.history-grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.history-grid img {
    display: block;
    width: 250px;
    height: auto;
    margin: 0 auto;
}

.adventure {
    text-align: center;
    margin: 20px auto;
    max-width: 1200px;
}

.adventure-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 7px;
    margin-top: 20px;
    align-items: start;
}

.adventure-grid figure {
    margin: 0;
}

.adventure-grid img {
    width: 185px;
    height: auto;
    object-fit: cover;
    background: #e5e5e5;
}

figcaption {
    margin-top: 4px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #000;
}

footer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: #2a2a2a;
    padding: 15px 20px;
}

footer p {
    text-align: center;
    margin: 0;
    font-size: 17px;
    color: #fff;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.socialmedia img {
    width: 48px;
    height: 48px;

}